.custom-button-container{
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(263deg, #00d1ff -30%, #00ffa3 125%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button-container:hover{
    cursor: pointer;
}