.tasks-container {
    padding: 60px 85px;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
    padding-top: 60px;
    height: 100vh;

    h2 { margin-bottom: 24px; }

    h3 { margin-top: 20px;  font-size: 18px; }

    .last-tasks {
        flex: 1;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
    }

    .tasks-list { margin-top: 14px; } 
 
    .completed-tasks {
        flex: 1;
        padding-top: 28px;
    }
}