* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    color: #fff;
    background-color: #222;

    display: flex;
    width: 100vw;
    flex-direction: column;
}
.container{
    width: 90%;
    margin: 0 auto;
}